
    

    .goods-item {
    
        width: 260px;
        height: 400px;
        text-align: center;
        
        background: #FFFFFF;
        border: 2px solid black;
    
        display: flex;
        flex-direction: column;
    
    }

    .goods-List {
        width: 1440px;
        margin-left: 165px;
        margin-top: 20px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    /*menu {
        width: 100%;
        height: 30px;
        border: 2px solid black;
    }*/

    .cart-button {
       
        margin-top: 5px;
    }

    * { 
    padding: 0;
    margin: 0;
    }

    body, html {
        width: 100%;
        height: 100%;
    }

    #root {
        display: grid;
        grid-template-rows: max-content auto;
        gap: 40px;
    }

    header {
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: auto max-content max-content;
        background-color: black;
    }

    .title {
        color: white;
        padding: 10px;
    }

    .actions, .search {
    
        padding: 10px;
    }

    button {
        padding: 10px;
    }

    .fixed-area {
        position: fixed;
        width: 1700px;
        height: 100%;
        display: flex;  
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0, 0.5);
    }

    .basket-card {
        width: 80%;
        height: 80%;
        display: grid;  
        background-color: white;  
        grid-template-rows: max-content auto;
    }
 .basket-card__header__title {
     padding: 10px;
 }

    .basket-card__header__delete-icon {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        padding-right: 150px;
        padding-top: 70px;
        

      }
      .basket-card__header__delete-icon:hover {
        opacity: 1;
      }
      .basket-card__header__delete-icon:before, .basket-card__header__delete-icon:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
      }
      .basket-card__header__delete-icon:before {
        transform: rotate(45deg);
      }
      .basket-card__header__delete-icon:after {
        transform: rotate(-45deg);
      }
      <a href="#" class="basket-card__header__delete-icon">